context.md
implementation.md
*.png
*.jpg
*.jpeg
*.webp
*.pdf

/readmes
# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production Build
/build
/dist

# Misc / OS
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor / IDE settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?